.carrosselPrimario {
  background: url(../assets/imgs/fundoCarrossel.jpg) no-repeat center center;
}

.carrosselPrimario-celula {
  padding: 10px;
  width: 100svw;
  height: 100svh;
}

/* position dots in carousel */
.carrosselPrimario .flickity-page-dots {
  bottom: 30px;
}
/* white circles */
.carrosselPrimario .flickity-page-dots .dot {
  height: 4px;
  width: 40%;
  margin: 0;
  border-radius: 10px;
  transition: 200ms;
  background: black;
}
/* fill-in selected dot */
.carrosselPrimario .dot.is-selected {
  background: var(--cor-branco);
  height: 6px;
}

.carrosselPrimario-celula {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.carrosselPrimario-titulo {
  font-size: 2rem;
  color: var(--cor-branco);
}

.carrosselPrimario-descricao {
  color: var(--cor-branco);
  font-weight: 400;
  font-style: italic;
}

.carrosselPrimario-button {
  background: var(--cor-secundaria);
  color: var(--cor-branco);
  padding: 0 20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  &:hover {
    background: var(--cor-branco);
    color: var(--cor-secundaria);
    scale: 1.1;
  }
}



/* Slide 1 */
.a {
  background: var(--cor-secundaria);
}

.logoSVG {
  width: 300px;
  height: 300px;

  & svg {
    width: 100%;
    height: 100%;
  }
  
  & path {
    --timer: 3s;
    stroke: var(--cor-branco);
    fill: var(--cor-branco);
    stroke-width: 3px;
    stroke-dasharray: 55;
    stroke-dashoffset: 0;
    animation: animateStroke var(--timer) linear infinite;
    animation-direction: alternate;
  }
}

@keyframes animateStroke {
  0% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Slide 2 */
.b {
  background: var(--cor-primaria);
  background: linear-gradient(var(--cor-primaria), var(--cor-primaria)),
    url(../assets/imgs/placeholder.jpg) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
}


@media (max-width: 768px) {
  .carrosselPrimario-celula {
    align-items: center;
    padding: 10% 5%;
  }

  .carrosselPrimario-titulo {
    font-size: 1.5rem;
  }

  .carrosselPrimario-descricao {
    font-size: 0.9rem;
  }

  .carrosselPrimario-button {
    padding: 0 10px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
  }

  .logoSVG {
    width: 200px;
    height: 200px;
  }
}
