.carrosselPrimario {
  background: url(../assets/imgs/fundoCarrossel.jpg) no-repeat center center;
}

.carrosselPrimario-celula {
  padding: 10px;
  width: 100svw;
  height: 100svh;
}

/* position dots in carousel */
.carrosselPrimario .flickity-page-dots {
  bottom: 30px;
}
/* white circles */
.carrosselPrimario .flickity-page-dots .dot {
  height: 4px;
  width: 40%;
  margin: 0;
  border-radius: 10px;
  transition: 200ms;
  background: black;
}
/* fill-in selected dot */
.carrosselPrimario .dot.is-selected {
  background: var(--cor-branco);
  height: 6px;
}

.carrosselPrimario-celula{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrosselPrimario-titulo{
  font-size: 2rem;
  color: var(--cor-branco);
}

.carrosselPrimario-descricao{
  color: var(--cor-branco);
  font-weight: 400;
  font-style: italic;
}

.carrosselPrimario-button{
  background: var(--cor-secundaria);
  color: var(--cor-branco);
  padding: 0 20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;

  &:hover{
    background: var(--cor-branco);
    color: var(--cor-secundaria);
    scale: 1.1;
  }
}

/* Slide 1 */
.a {
  background: var(--cor-secundaria);
  padding: 0 10%;
}

.logoSVG{
  width: 300px; 
  height: 300px; 
}

svg{
  width: 100%;
  height: 100%;
}

path {
  --timer: 3s;
  stroke: var(--cor-branco);
  fill: var(--cor-branco);
  stroke-width: 2px;
  stroke-dasharray: 55;
  stroke-dashoffset: 0;
  animation: animateStroke var(--timer) linear infinite;
  animation-direction: alternate; 
}

@keyframes animateStroke {
  0%{
    stroke-dashoffset: 55;
  }
  100%{
    stroke-dashoffset: 0;
  }
}


/* Slide 2 */
.b {
  background: var(--cor-primaria);
  position: relative;
  overflow: hidden;
}

.textoB{
  padding: 0 10%;
}
.carrosselPrimario-video{
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: .7;
}

@media motion-reduce {
  path {
    animation: none;
  }
}

@media (max-width: 768px) {
  .carrosselPrimario-celula {
    align-items: center; 
    padding: 10% 5%; 
  }

  .carrosselPrimario-titulo {
    font-size: 1.5rem; 
  }

  .carrosselPrimario-descricao {
    font-size: 0.9rem;
  }

  .carrosselPrimario-button {
    padding: 0 10px; 
    height: 40px; 
    width: 150px;
    margin-top: 20px; 
  }

  .logoSVG {
    width: 200px;
    height: 200px;
  }
}
