.carrosselPrimario {
  background: var(--cor-secundaria);
}

.carrosselPrimario-celula {
  padding: 10px;
  width: 100svw;
  height: 100svh;
}

.carrosselPrimario .flickity-page-dots {
  bottom: 30px;
}

.carrosselPrimario .flickity-page-dots .dot {
  height: 4px;
  width: 40%;
  margin: 0;
  border-radius: 10px;
  transition: 200ms;
  background: black;
}

.carrosselPrimario .dot.is-selected {
  background: var(--cor-branco);
  height: 6px;
}

.carrosselPrimario-celula {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.carrosselPrimario-titulo {
  font-size: 5rem;
  color: var(--cor-branco);
}

.carrosselPrimario-descricao {
  font-size: 1.5rem;
  color: var(--cor-branco);
  font-weight: 400;
  font-style: italic;
}

.carrosselPrimario-button {
  background: var(--cor-secundaria);
  color: var(--cor-branco);
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  transition: 300ms;
  & i{
    transition: 200ms;
  }
  &:hover {
    background: var(--cor-branco);
    color: var(--cor-secundaria);
    border-radius: 50px;
    & i {
      transform: translateX(5px);
    }
  }
}

@keyframes textPop {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide 1 */
.a {
  background: var(--cor-secundaria);
}

/* Animação para o primeiro slide (opcional, dependendo se você quer que o primeiro slide também tenha animação) */
.a .carrosselPrimario-titulo {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) forwards;
}

.a .carrosselPrimario-descricao {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) 0.2s forwards;
}

.a .carrosselPrimario-button {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) 0.6s forwards;
}

.logoSVG {
  width: 400px;
  height: 400px;
}

.logoSVG svg {
  width: 100%;
  height: 100%;
}

.logoSVG path {
  --timer: 3s;
  stroke: var(--cor-branco);
  fill: var(--cor-branco);
  stroke-width: 3px;
  stroke-dasharray: 55;
  stroke-dashoffset: 0;
  animation: animateStroke var(--timer) linear infinite;
  animation-direction: alternate;
}

@keyframes animateStroke {
  0% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Slide 2 */
.b {
  position: relative;
  background-image: url(../assets/imgs/placeholder.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.b::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  opacity: 0.7;
}

/* Nao remover por questao do grandiante e imagem de fundo */
.b .carrosselPrimario-texto {
  position: relative;
  z-index: 1;
}

.b .carrosselPrimario-titulo,
.b .carrosselPrimario-descricao,
.b .carrosselPrimario-button {
  opacity: 0;
  transform: translateX(100px);
}

.b.animate-once .carrosselPrimario-titulo {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) forwards;
}

.b.animate-once .carrosselPrimario-descricao {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) 0.2s forwards;
}

.b.animate-once .carrosselPrimario-button {
  animation: textPop 0.7s cubic-bezier(0.42, 0, 0, 0.99) 0.4s forwards;
}

@media (max-width: 768px) {
  .carrosselPrimario-celula {
    align-items: center;
    padding: 10% 5%;
  }

  .carrosselPrimario-titulo {
    font-size: 1.5rem;
  }

  .carrosselPrimario-descricao {
    font-size: 0.9rem;
  }

  .carrosselPrimario-button {
    padding: 0 10px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
  }

  .logoSVG {
    width: 200px;
    height: 200px;
  }
}
