:root {
  --cor-branco: #fdfdf5;
  --cor-preto: #1a1a1a;
  --cor-primaria: #193445;
  --cor-secundaria: #c08e30;
  /* --cor-primaria: #013255;
  --cor-secundaria: #FF4365;
  --cor-terciaria: #0D0C1D; */
}

* > * {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
}

* > *:not(h1, h2, h3, h4, h5, h6),
button,
a {
  font-family: "Poppins", sans-serif;
}
