
.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.42);
    color: white;
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.84);
}

.navBar-logo {
    width: 30%;
    margin-top: 5px;
    margin-left: 2%;
}

.navBar-logo a img {
    height: 65px;
    padding: 5px;
    border-radius: 5px;
}

.navBar-logo a img:hover {
    transform: scale(1.1);
    transition: 200ms;
    border-radius: 5px;
}

.navBar-links {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 2%;
    width: 50%;
}

.navBar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 200ms;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-left: 30px;
}

.navBar-links a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--cor-secundaria);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 200ms ease-in-out;
    border-radius: 4px;
}

.navBar-links a:hover::after {
    width: 100%;
}

.navBar-links a:hover {
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
    color: var(--cor-secundaria);
}

/* Menu mobile */

.navBar-hamburguer {
    cursor: pointer;
    display: none;
}

.navBar-hamburguer div {
    width: 32px;
    height: 4px;
    margin: 8px 20px;
    background-color: white;
    transition: 300ms;
    border-radius: 2px;
}

/* Responsivo */

@media screen and (max-width: 999px) {
    .navBar-links {
        position: absolute;
        top: 100px;
        right: 0%;
        margin: 0px -10px 0 0;
        width: 50%;
        height: 30vh;
        background-color: rgba(51, 51, 51, 0.42);
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.84);
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
    }

    .navBar-links li {
        opacity: 0;
    }

    .navBar-links a {
        margin: 0;
    }

    .navBar-hamburguer {
        display: block;
    }
}

@media screen and (max-width: 270px) {
    .navBar-links {
        width: 100%;
        margin: 0%;
    }
    
}

/* Animações */

.navBar-links.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.navBar-hamburguer.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.navBar-hamburguer.active .line2 {
    opacity: 0;
}

.navBar-hamburguer.active .line3 {
    transform: rotate(45deg) translate(-8px, -9px);
}