/**/
.carrosel {
    position: relative;
    max-width: 100%;
    max-height: 85vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

.background {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
}

.fotos {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.foto img {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.2;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.botoes {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 40px;
    text-align: center;
}

.btn-carrosel {
    display: inline-block;
    margin: 0 5px;
    padding: 3px 30px;
    background-color: rgb(0, 174, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

[id^="btn-"]:hover {
    background-color: rgb(3, 76, 110);
    transition: 200ms;
}

[id^="btn-"]:active {
    background-color: rgb(255, 255, 255);
    padding: 3px 25px;
}

/* Atualizado TEXTO */
.texto {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}