* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif';
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}